.gridContainer {

  display: grid;

  height: 600px;

  /* grid-template-columns: 200px 200px 200px; */

  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: repeat(8, 1fr);

  background-color: rgb(171, 255, 242);

  grid-gap: 2px;

  /* start, end, center, stretch*/

  align-items: stretch;

  justify-items: stretch;

  /* start, end, center, stretch, space-around, space-between, space-evenly */

  align-content: start;

  justify-content: end;

}

.redHeader {

  background-color: rgb(236, 138, 187);

  grid-column-start: 1;

  grid-column-end: 4;

  grid-row-start: 1;

  grid-row-end: 1;

  text-align: center;

}


.orangeNavBar {

  background-color: rgb(199, 151, 62);

  grid-column-start: 1;

  grid-column-end: 4;

  grid-row: 2/2;

}


.yellowArticle {

  background-color: rgb(94, 124, 255);

  grid-column-start: 1;

  grid-column-end: 3;

  grid-row: 3/8;

}


.greenAside {

  background-color: rgb(130, 206, 130);

  grid-column: 3/4;

  grid-row: 3/8;

}


.indigoFooter {

  background-color: rgb(180, 101, 237);

  grid-column: 1/4;

  grid-row: 8/9;

}