.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 50px);
    font-family: lato;
  }
  
  header {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: aqua;
    padding: 10px;
    font-size: 50px;
    align-items: center;
    gap: 20px;
    padding: 10px;
    display: flex;
  }
  
  nav {
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: antiquewhite;
    padding: 10px;
  }

  a {
    text-decoration: none;
    transition: .5s;
  }

  a:hover {
    color: green;
    text-decoration: underline;
  }
  
  aside {
    grid-column: 1/2;
    grid-row: 4/11;
    background-color: yellow;
    padding: 10px;

  }
  
  article {
    grid-column: 2/5;
    grid-row: 4/11;
    background-color: greenyellow;
    padding: 10px;
  }
  
  footer {
    grid-column: 1/4;
    grid-row: 11/12;
    padding: 10px;
    text-align: center;
  }

  img {
    height: 100px;
    width: auto;
  }
  
  @media screen and (max-width: 700px) {
    aside {
      grid-column: 1/5;
      grid-row: 4/7;
    }
  
    article {
      grid-column: 1/5;
      grid-row: 7/13;
    }
  
    footer {
      grid-column: 1/5;
      grid-row: 13/14;
    }
  }